* {
	font-family: aboreto;
	min-height: 10px;
	

}
body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	
}
.postcard-header {
	display: flex;

}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding-right: 5px;
	padding-top: 5px;
}
.postcard-header h1 {
	font-size: 16px;
	width: 100%;
	margin: 0;
	padding-top: 5px;
}
.postcard-body {
	display: flex;
	font-size: 13px;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: grey solid;
	
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 10px;
	margin-top: 15px;
}
